<footer data-fls-footer class="footer">
  <div class="footer__container">
    <div class="footer__wrapper">
      <div class="footer__top">
        <div class="footer__logo">
          {% if section.settings.logo %}
            <img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}">
          {% else %}
            {{ shop.name }}
          {% endif %}
        </div>
        <div class="footer__social" data-fls-dynamic=".footer__bottom, 991,1">
			{% if section.settings.instagram_url %}
				<a href="{{ section.settings.instagram_url }}" target="_blank">
				<img src="{{ 'instagram.svg' | asset_url }}" alt="Instagram">
				</a>
			{% endif %}
			{% if section.settings.facebook_url %}
				<a href="{{ section.settings.facebook_url }}" target="_blank">
				<img src="{{ 'facebook.svg' | asset_url }}" alt="Facebook">
				</a>
			{% endif %}
			{% if section.settings.linkedin_url %}
				<a href="{{ section.settings.linkedin_url }}" target="_blank">
				<img src="{{ 'linkedin.svg' | asset_url }}" alt="LinkedIn">
				</a>
			{% endif %}
			</div>

      </div>

      <div class="footer__center">
        <div class="footer__subscribe">
          <h5 class="footer__title">{{ section.settings.subscribe_title }}</h5>
          <div class="footer__form">
			{% form 'customer', class: 'footer__subscribe-form' %}
			<input type="hidden" name="contact[tags]" value="newsletter">
			<input
				name="contact[email]"
				type="email"
				value="{{ form.email }}"
				aria-required="true"
				autocorrect="off"
				autocapitalize="off"
				autocomplete="email"
				required
				placeholder="{{ section.settings.subscribe_placeholder }}" />

			<button type="submit">
				<span class="submit__text">{{ section.settings.subscribe_button }}</span>
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
				<path d="M10.3311 9.69727L20.3023 9.69727L20.3023 19.6685" stroke="#013501" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
				<path d="M20.3028 9.69814L9.69629 20.3047" stroke="#013501" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round" />
				</svg>
			</button>

			{% if form.posted_successfully? %}
				<div class="footer__message footer__message--success">
				{{- 'newsletter.success' | t }}
				</div>
			{% elsif form.errors %}
				<div class="footer__message footer__message--error">
				{{ form.errors.translated_fields['email'] | capitalize }}: {{ form.errors.messages['email'] }}
				</div>
			{% endif %}
			{% endform %}
            <div class="footer__check">
              <input type="checkbox" name="policy" id="policy" />
              <label for="policy">
                <span>{{ section.settings.policy_text }} <a href="{{ section.settings.policy_link }}">{{ section.settings.policy_label }}</a></span>
              </label>
            </div>
          </div>
        </div>

        <div class="footer__menus">
          {% for block in section.blocks %}
            <div class="footer__menu">
              <div class="footer__menu-header">{{ block.settings.title }}</div>
              <ul class="footer__menu-body">
                {% for link in linklists[block.settings.menu].links %}
                  <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="footer__bottom">
        <div data-fls-dynamic=".footer__mobile, 991,0" class="footer__copy">
          {{ section.settings.copyright }}
        </div>
        <div data-fls-dynamic=".footer__mobile, 991,1" class="footer__designer">
          {{ section.settings.designer_prefix }} <a href="{{ section.settings.designer_url }}">{{ section.settings.designer_name }}</a>
        </div>
      </div>
    </div>

    <div class="footer__mobile"></div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "subscribe_title",
      "label": "Subscribe title",
      "default": "Be the first to know about new snacks & offers"
    },
    {
      "type": "text",
      "id": "subscribe_placeholder",
      "label": "Subscribe input placeholder",
      "default": "Enter your email"
    },
    {
      "type": "text",
      "id": "subscribe_button",
      "label": "Subscribe button text",
      "default": "Subscribe"
    },
    {
      "type": "text",
      "id": "policy_text",
      "label": "Policy text",
      "default": "By signing up, you agree to our"
    },
    {
      "type": "url",
      "id": "policy_link",
      "label": "Policy link"
    },
    {
      "type": "text",
      "id": "policy_label",
      "label": "Policy label",
      "default": "Privacy Policy"
    },
    {
      "type": "textarea",
      "id": "copyright",
      "label": "Copyright text",
      "default": "© 2025 Frooteli. All rights reserved"
    },
    {
      "type": "text",
      "id": "designer_prefix",
      "label": "Designer text prefix",
      "default": "Website by"
    },
    {
      "type": "text",
      "id": "designer_name",
      "label": "Designer name",
      "default": "Karina Chumak"
    },
    {
      "type": "url",
      "id": "designer_url",
      "label": "Designer URL"
    },
    {
	"type": "url",
	"id": "instagram_url",
	"label": "Instagram URL"
	},
	{
	"type": "url",
	"id": "facebook_url",
	"label": "Facebook URL"
	},
	{
	"type": "url",
	"id": "linkedin_url",
	"label": "LinkedIn URL"
	}
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Footer menu",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Menu title",
          "default": "Menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Navigation menu"
        }
      ]
    }
  ],
  "max_blocks": 4,
  "presets": [
    {
      "name": "Footer",
      "category": "Footer"
    }
  ]
}
{% endschema %}
