<section class="auth">
  <div class="auth__wrapper">
    <div class="auth__content">
      <h2 class="auth__title">{{ 'customer.register.title' | t }}</h2>
      {%- form 'create_customer', class: 'auth__form' -%}
        <div class="auth__line">
          <label for="RegisterName">{{ 'customer.register.first_name' | t }}</label>
          <input
            type="text"
            name="customer[first_name]"
            id="RegisterName"
            placeholder="John Doe"
            required>
        </div>
        <div class="auth__line">
          <label for="RegisterEmail">{{ 'customer.register.email' | t }}</label>
          <input
            type="email"
            name="customer[email]"
            id="RegisterEmail"
            autocomplete="email"
            placeholder="example@gmail.com"
            required>
        </div>
		<div class="auth__line">
                           <label for="RegisterPassword">{{ 'customer.register.password' | t }}</label>
          <input
            type="password"
            name="customer[password]"
            id="password"
            autocomplete="new-password"
            placeholder="Enter password"
            required>
          <span class="auth__eye">
            {% render 'eye' %}
          </span>
			<div class="auth__info">
				<div class="auth__checkbox">
					<input type="checkbox" name="remember" id="remember" />
					<label for="remember">{{'customer.register.agree' | t}}<a target="_blank" href="{{ section.settings.privacy }}">{{'customer.register.privacy' | t}}</a></label>
				</div>
			</div>
		</div>
        <button type="submit" class="button button--primary">{{ 'customer.register.submit' | t }}</button>
		{%- if form.errors -%}
			<div class="auth__errors">
				<ul>
				{%- for field in form.errors -%}
					<li> {{ form.errors.messages[field] }}</li>
				{%- endfor -%}
				</ul>
			</div>
		{%- endif -%}

		{%- if form.posted_successfully? -%}
			<div class="auth__success">
				{{ 'customer.register.success' | t }}
			</div>
		{%- endif -%}
      {%- endform -%}

      <div class="auth__link">
        <span>{{ 'customer.register.have_account' | t }}</span>
        <a href="{{ routes.account_login_url }}">{{ 'customer.login_page.title' | t }}</a>
      </div>
    </div>

    <div class="auth__image">
      {% if section.settings.image %}
        <img src="{{ section.settings.image | image_url }}" alt="Auth" loading="lazy">
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Register Section",
  "tag": "section",
  "class": "section-auth",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "url",
      "id": "privacy",
      "label": "Privacy Policy URL",
    }
  ],
  "presets": [
    {
      "name": "Register section"
    }
  ]
}
{% endschema %}

