<product-recommendations
    class="related-products page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    data-url="{{ routes.product_recommendations_url }}?limit={{ section.settings.products_to_show }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}"
  >

	<section class="product-recomendations">
		<div class="product-recomendations__header">
			<h2 class="product-recomendations__title">
			{{ section.settings.heading }}
			</h2>
			<a href="{{ section.settings.button_url }}"
				data-fls-dynamic=".product-recomendations__mobile-button, 992, 1"
				class="product-recomendations__button product-recomendations__button-mobile-hidden button button--green">
				{{ section.settings.button_text }}
			</a>
			<div class="product-recomendations__nav slider-nav">
				<div class="product-recomendations__prev slider-prev">
					{% render 'slider-prev' %}
				</div>
				<div class="product-recomendations__next slider-next">
					{% render 'slider-next' %}
				</div>
			</div>
		</div>

		<div class="product-recomendations__slider swiper">
			<div class="swiper-wrapper">
			{% for product in recommendations.products %}
				<div class="product-recomendations__slide swiper-slide">
				{% render 'product-card', product: product %}
				</div>
			{% endfor %}
			</div>
		</div>
		<div class="product-recomendations__mobile-button">
			<a href="{{ section.settings.button_url }}"
				class="product-recomendations__button button button--green">
				{{ section.settings.button_text }}
			</a>
		</div>
	</section>
</product-recommendations>
<script>
	const observer = new MutationObserver(() => {
		if (typeof window.recomendationSlider === 'function') {
			const slider = document.querySelector('.product-recomendations__slider');
			if (slider && !slider.classList.contains('swiper-initialized')) {
				window.recomendationSlider();
			}
		}
	});

	observer.observe(document.body, {
		childList: true,
		subtree: true,
	});
</script>
{% schema %}
{
  "name": "Custom Related Products",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "You might like this too",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "button_text",
      "default": "Show all products",
      "label": "Button text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button link"
    },
  ],
  "presets": [
    {
      "name": "Custom Related Products"
    }
  ]
}
{% endschema %}
